

// Header
// Your main CSS styles
body {
    font-family: 'Ubuntu Sans', sans-serif;
    color: $color-text-body;
    font-size: 1rem;
    line-height: 1.8;
    background-color: $color-bg-soft;
  }